<p id="notice"><%= notice %></p>

<p>
  <strong>Flight:</strong>
  <%= @booking.flight.plane.name %>
</p>

<p>
  <strong>Booking Category:</strong>
  <%= @booking.seat_configuration.category.name %>  
</p>

<p>
  <strong>Booing Row:</strong>
  <%= @booking.row_number %>  
</p>

<p>
  <strong>Booing Seat:</strong>
  <%= @booking.seat_number %>  
</p>

<p>
  <strong>PNR Number:</strong>
  <%= @booking.pnr_number %>
</p>

<p>
  <strong>Total fare:</strong>
  <%= @booking.total_fare %>
</p>

<%= link_to 'Edit', edit_flight_booking_path(@booking.flight, @booking) %> |
<%= link_to 'Back', bookings_path %>
